<div class="single">
<h1><span class="single-title">QR Code Generator</span></h1>

<p>Enter your link below. Press 'Generate', the page will refresh, and you will see your QR code in all it's glory. Right click, save as image.</p>

<form action="/qrcode" method="post">
<ul>
    <li>
      <label for="Link">Link:</label>
      <input type="text" id="name" name="user_name" />
    </li>
    <li>
      <label for="image">Overlay Image:</label>
      <input type="file" id="overlay" name="overlay" accept="image/png, image/jpeg"/>
    </li>
    <li>
      <input type="submit" value="Generate">
  </ul>


</form>