/* This file is for your main application css. */

.profile_image {
    border-radius: 100px;
    max-width: 50%;
    float: right;
}

img {
    max-width: 50%;
    max-height: 100%;
    border-radius: 100px;
}

@media screen and (max-width: 425px) {
    .profile_image {
        float: none;
    }
}
