/* top link header */
#header {
    margin-top: 20px;
    margin-bottom: 80px;
    display: block;
    overflow: visible;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(136, 136, 136, 0.2);
}

#footer {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 200px; /* Same as the width of the sidebar */
    display: block;
    overflow: visible;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(136, 136, 136, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(136, 136, 136, 0.2);
}

#footer ul {
    padding-left: 0px;
}

#main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    overflow: auto;
}

.links {
    margin-top: 0px;
    text-align: center;
    float: none;
    padding: 0px;
}

ul {
    display: block;
    float: none;
    margin-top: 10px;
}

.links li {
    display: inline;
    text-transform: none;
    margin-left: 5px;
    margin-right: 5px;
}

.links li:first-child {
    margin-left: 0px;
}

#link-title {
    font-size: 32px;
    font-weight: bold;
}

body {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f5f5f5; /* #fff3e6; #ffb7c5; */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #492600;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #D2B48C;
}

.sidenav span.date {
    font-size: 12px;
}
.sidenav a.sidenav-link {
    font-size: 12px;
}

.sidenav div.footer {
    font-size: 12px;
}

@media screen and (max-width: 800px) {
    .sidenav {
        position: static;
        width: 100%;
    }
    #main {
        margin-left: 8px;
        margin-right: 8px;
    }
    #footer {
        margin-left: 8px;
        margin-right: 8px;
    }
    body {
        margin: 0px;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#newPosts h2 {
    padding-left: 20px;
}
#newPosts a {
    width: 200px;
    font-size: 10px;
}

i {
    background: #492600;
    color: white; /* White text */
    border: none; /* Remove borders */
    
    font-size: 25px; /* Set a font size */
    padding: 10px;
    border-radius: 50%;

    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
}

i:hover {
    background: #D2B48C;
    cursor: pointer; /* Mouse pointer on hover */
}

